<h1>Predicting Heart Failure</h1>
<p>
  Cardiovascular diseases are not uncommon in our society anymore and cause a lot of yearly deaths.
  Heart failure is on of the most dangerous ones in the lineup of cardiovascular diseases and an early diagnosis could help in the fighting chance against such ailment.
  <br/>
  <br/>
  This application is meant to be used by physicians who want to verify their well informed diagnosis or working theory and to verify if the patient should be referred to
  a medical professional specialized in the treatment of cardiovascular diseases.

</p>
<hr/>
<h5>Follow these steps</h5>
<div class="card-group">
  <div class="card">
    <img src="assets/step_1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gather required patient data</h5>
      <p class="card-text">In order to create use for you as a physician it is required to first gather all the neccesary information.</p>
      <p class="card-text"><small class="text-muted">For more information or to get started click below</small></p>
      <a routerLink="/start" class="btn btn-primary">Lets get started</a>
    </div>
  </div>
  <div class="card">
    <img src="assets/step_2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fill in the questions</h5>
      <p class="card-text">During the questionnaire you'll be asked to provide the necessary data in order to make a prediction</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/step_3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Validate the prediction</h5>
      <p class="card-text">After the questionnaire you'll be greeted with the resulting prediction based on the provided data</p>
    </div>
  </div>
</div>
<hr/>
