<h1>Information</h1>
<p>
  Because this application handles very sensitive patient data, it is imperative that we, as the developers of this application, have your trust in handling this data.
  It should be stated that NONE of the information provided to us is stored in any way after the prediction has been made.
  It is destroyed on our servers as soon as you see the results on your web page.
</p>
<hr/>
<p>
  For that very reason this project is completely open source and all the source code is publicly visible.
</p>
<ul>
  <li>Please check <a target="_blank" href="https://github.com/aaroncornet/hcai-heart-failure-frontend">this link</a> for the source code of the frontend application</li>
  <li>Please check <a target="_blank" href="https://github.com/aaroncornet/hcai-heart-failure-backend">this link</a> for the source code of the backend application</li>
</ul>
<hr/>
<p>For any other questions you can contact us at: <a href="mailto:acornet@avans.nl">acornet@avans.nl</a></p>
