<app-question-number-header [number]="questionNumber"></app-question-number-header>
<hr/>
<div class="card">
  <div class="row no-gutters">
    <div class="col-sm-5">
      <img class="card-img" src="/assets/diabetes.png" alt="Suresh Dasari Card">
    </div>
    <div class="col-sm-7">
      <div class="card-body">
        <h5 class="card-title">Diabetes</h5>
        <p class="card-text">People who have Type 2 diabetes, characterized by elevated blood sugar levels, are two to four times more likely to develop heart failure than someone without diabetes. But heart failure, a condition in which the heart fails to efficiently pump oxygenated blood through the body, also is a risk factor for diabetes.</p>
        <button disabled class="btn btn-primary">More information</button>
      </div>
    </div>
  </div>
</div>
<hr/>
<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Does the patient have diabetes?</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" value="1" formControlName="diabetes">
      <label class="form-check-label">Yes</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" value="0"  formControlName="diabetes">
      <label class="form-check-label">No</label>
    </div>
    <div
      *ngIf="!questionForm.get('diabetes').valid && questionForm.get('diabetes').touched"
      class="invalid-feedback d-block"><p>Please select an option</p>
    </div>
  </div>
  <hr/>
  <button class="btn btn-outline-danger" (click)="previous()">Previous</button>
  <button class="btn btn-danger" type="submit" [disabled]="!questionForm.valid">Next</button>
</form>


