<h3>Information before we start</h3>
<hr/>
<div class="card">
  <div class="row no-gutters">
    <div class="col-sm-5">
      <img class="card-img" src="/assets/information.png" alt="Suresh Dasari Card">
    </div>
    <div class="col-sm-7">
      <div class="card-body">
        <p class="card-text">This questionnaire is designed to create a profile of the provided data and compare it with other profiles,
          after which it will make a prediction if the provided profile is suffering from heart failure. This questionnaire is intended to be used
          by physicians wishing to test their well informed diagnosis or verify a working theory.</p>

      </div>
    </div>
  </div>
</div>
<hr/>
<h5>Before we begin it you need to have the following information available:</h5>
<ul>
  <li>Age of the patient</li>
  <li>Is the patient diagnosed with Anaemia?</li>
  <li>Blood levels of Creatinine Phospokinase</li>
  <li>Is the patiant diagnosed with Diabetes?</li>
  <li>Ejection fraction of the patient</li>
  <li>Is the patient diagnosed with High Blood Pressure?</li>
  <li>Blood levels of Platelets</li>
  <li>Blood levels of Serum Creatinine</li>
  <li>Blood levels of Serum Sodium</li>
  <li>Gender of the patient</li>
  <li>Does the patient smoke?</li>
</ul>
<hr/>
<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Note:</h4>
  <p>
    All the information provided during the questionnaire will only be used to create a profile of the patient and then used to make a prediction whenever or not the patient is suffering from heart failure.
    <b>NONE</b> of the information is stored after the prediction has been done and is deleted as soon as the results are given to you on the web page.
  </p>
  <hr>
  <p class="mb-0">Please visit our info page to read more</p>
</div>
<hr/>
<h5>Extra directions</h5>
<p>
  In the questionnaire you'll be asked to fill in the requested data for each of the values. The questions regarding blood values will provide direct feedback regarding the optimal value of said metric.
  Underneath the input it will state if the provided value is within optimal values, giving you, as a medical professional, early insight in the chemical state of your patient.
</p>
<hr/>
<button class="btn btn-danger" (click)="start()">Start</button>
<hr/>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Disclaimer!</h4>
  <p>
    The result provided by this application should never be used as a means of diagnosing. Instead it should be used to test out an already well defined diagnosis or reinforce a theory already present in order to refer a patient.
    Understand that this prediction is solely based on a statistical approximation of the provided data and that individual cases, should be assessed by a medical professional only.
  </p>
  <hr>
  <p class="mb-0">When in doubt of the prediction or by anything you are experiencing regarding this topic, <b>ALWAYS</b> consult a medical professional.</p>
</div>
